<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular Quiz</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
   <div class="row">
  <div class="col-6">
    <h3 align="center">Quiz Application</h3>
  </div>
  
</div>
<div id=1>
  <h2 align="center">Agile Business Transformation Quiz</h2>
 
[[display content of json file]]

<div class="question" id="ques"> </div>
<div class="options" id="opt"> </div>
<button onclick=checkAns()> SUBMIT </button>
<div id="score"></div>


</body>
</html>
